$h1-color: yellow;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

h1 { 
    background-color: $h1-color;

    .main {
        background-color: red;
    }
}

