$font-stack:    Helvetica, sans-serif;
$primary-color: #777;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

@import 'just';

h2 {
    font: $h1-color;
}

.box { 
    @include border-radius(10px);
}

.bigBox {
    @extend .box;
    border-color: green;
    border-radius: 5px;
}